<!DOCTYPE html>
<html lang="en">

	<head>
		<%- include('../includes/header', {}) %>
	</head>

	<body id="page-top">

	    <%- include('../includes/nav', {}) %>

	    <%- include('../includes/home', {}) %>

		<%- include('../includes/javascript', {}) %>

	</body>

</html>